/* ********** *
 *   Navbar   *
 * ********** */

/* Navbar wrapper */
.navbar-wrapper {
    width: 100%;
    height: 68px;

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);

    display: flex;
    align-items: center;
}


/* Navbar container */
.navbar-container {
    height: 100%;
    margin: 0 7.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-container .image {
    width: 48px;
    height: 48px;
    margin: 0 12px;
    border-radius: 12px;
}


/* Navbar part */
.navbar-part {
    height: 100%;
    position: relative;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-part div {
    position: relative;
    
    display: flex;
    align-items: center;

    transition: 300ms;
    cursor: pointer;
}

/* Navbar part left */
.navbar-part-left div {
    height: 100%;
    position: relative;
    
    transition: 400ms;
}
.navbar-part-left div:hover {
    position: relative;
    background-color: rgba(119, 0, 255, 0.2);
    backdrop-filter: blur(4px);
    
    transition: 400ms;
}
.navbar-part-left a {
    border-right: 1px solid gray;
    padding: 4px 16px;
}
.navbar-links {
    height: 100%;

    display: flex;
    flex-direction: row;
}

/* Navbar part right */
.navbar-part-right div {
    margin: 0 8px;
    padding: 8px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
}