.auth-wrapper {
    width: 400px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container {
    width: 400px;

    margin: 128px 0;
    padding: 32px;
    border-radius: 16px;
    background-color: white;
}


/* Auth field */
.auth-field-group {
    display: flex;
    gap: 24px;
}

.auth-field {
    flex-grow: 1;

    position: relative;
    margin-bottom: 24px;
    
    display: flex;
    flex-direction: column;
}

.auth-field input {
    width: 100%;

    padding: 8px;
    
    border-radius: 8px;
    border: 2px solid lightgray;
    font-size: 1em;
}

.auth-label-container {
    margin-bottom: 4px;
    border-radius: 4px;

    font-size: 1.1em;
    font-weight: 600;    

    display: flex;
    justify-content: space-between;
}

.auth-forgot-pass  {
    margin-top: 4px;
    font-size: 0.85em;
}
.auth-link,
.auth-link:visited {
    color: #0A84FF;
}
.auth-link:active {
    color: #0e64b9;
}

.auth-title {
    text-align: center;
    font-weight: 900;
}

.auth-button {
    width: 100%;
    padding: 8px 0;
    border-radius: 8px;
    
    background-color: black;
    
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.password-toggle-icon {
    width: fit-content;
    right: 12px;
    top: 32px;
    position: absolute;
    cursor: pointer;
}

.password-toggle-icon i {
    font-size: 24px;
    line-height: 1;
    color: black;
}


/* Auth Separation */
.auth-separation {
    margin: 8px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.separation {
    height: 2px;
    flex-grow: 1;
    background-color: lightgray;
}
.separator {
    padding: 0 8px;
    user-select: none;
}


/* OAuth */
.oauth-container {
    display: flex;
    flex-direction: column;

    align-items: center;
}
.oauth-text {
    margin-bottom: 8px;
}
.oauth-buttons {
    width: inherit;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.oauth-button {
    padding: 8px;
    border-radius: 8px;
    border: 3px solid black;
    background-color: lightgray;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-option-container {
    padding-top: 24px;
    
    display: flex;
    justify-content: space-between;
}
