/* *********
 * Chat
 * *********/
.chat-wrapper {
    /* padding: 0; */
    
    display: flex;
    gap: 24px;
}


/* *********
 * ChatSidebar
 * *********/
.chat-sidebar-wrapper {
    max-width: 600px;
    width: 600px;
    height: 100%;
    border-radius: 16px;
    background-color: black;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-session {
    width: 100%;
    height: 70px;

    padding: 16px;

    background-color: antiquewhite;
    border-bottom: 1px solid black;
    
    display: flex;
    align-items: center;
}

.chat-profile-picture {
    width: 48px;
    height: 48px;

    margin-right: 16px;
}
.chat-profile-name {
    /* display: block; */
}


/* *********
 * ChatRoom
 * *********/
.chat-room-wrapper {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}
.chat-room-container {
    /* width: 100%; */
    height: 100%;
    border-radius: 16px;
    background-color: burlywood;
}

.chat-room-name-wrapper {
    width: 100%;
    height: 70px;

    padding: 16px;
    border-bottom: 1px solid black;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-room-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.chat-messages-container {
    height: 100%;
    padding: 24px;
}
.chat-messages-user {
    width: 100%;
    padding: 0;
}

.chat-messagebox-wrapper {
    height: 70px;
    margin-top: 24px;
    padding: 16px;

    border-radius: 16px;
    background-color: lightgray;

    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.chat-messagebox {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.1em;
}

.chat-send {
    padding: 8px;
    border-radius: 8px;
    background-color: darkgray;
}