/* Code for Firefox */
::-moz-selection, ::selection {
    color: white;
    background: #c7c7a3;
}


/* Light theme styles */
body {
    background-color: #F5F5E4;
}

i {
    color: black;
}


/******************/
/* Navbar styling */
/******************/
.navbar-part {
    background-color: white;
    box-shadow: 0 0 8px var(--black-alpha-50), 0px 5px #c7c7a3;
}


/********************/
/* Left side navbar */
/********************/
.app-name {
    color: black;
}


/*******************/
/* Timer container */
/*******************/
.chronometer-item {
    background-color: white;
    box-shadow: 0 0 8px var(--black-alpha-50), 0px 5px #c7c7a3;
}

.time-container {
    background-color: #F5F5E4;
}

.time {
    color: black;
}