/* @import 'reset.css'; */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --link: #0A84FF;
    --link-active: #0A84FF;

    --pale-red: #f55757;
    --pale-yellow: #ffe26e;
    --pale-green: #6eff7a;
    --pale-blue: #6e9cff;

    --pale-gray: #dedede;
    --light-gray: #cbcbcb;
    
    --white-alpha-50: rgba(255, 255, 255, 0.5);
    --white-alpha-75: rgba(255, 255, 255, 0.75);

    --black-alpha-25: rgba(0, 0, 0, 0.25);
    --black-alpha-50: rgba(0, 0, 0, 0.5);
    --black-alpha-75: rgba(0, 0, 0, 0.75);
}

/* 
html.dark {} 
*/

/* @ media (prefers-color-scheme: dark) */

html, body, #root {
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    font-family: 'Rubik', 'Lato', 'Segoe UI', sans-serif;
    backdrop-filter: blur(40px); 
    background: linear-gradient(
        to right bottom, 
        #2796ff, #00aaff,
        #00bee4, #00cbde,
        #00d4c6, #00d1d2,
        #0087ff, #5666fe,
        #7e57fd, #a349fd
    );
}

h1 {
    margin-bottom: 32px;
}

i {
    font-size: 16px;
    color: black;
}

.icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none !important;
}

ul {
    list-style-position: inside;
}


.global-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.red {
    background-color: var(--pale-red);
}
.yellow {
    background-color: var(--pale-yellow);
}
.blue {
    background-color: var(--pale-blue);
}
.green {
    background-color: var(--pale-green);
}
.white {
    background-color: white;
}

.wrapper {
    flex: 1;
    padding: 24px;
    overflow-y: auto; 
}