* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --normal-font: 1em;
}
/* 
html.dark {} 
*/

body {
    height: 100%;
    font-family: 'Rubik', 'Lato','Segoe UI', sans-serif;
    /* background-color: rgba(19, 13, 56, .7); */
    background: url('@img/fondo.jpg') no-repeat;
}

h1 {
    margin-bottom: 32px;
}

i {
    font-size: 16px;
    color: black;
}

a {
    text-decoration: none !important;
}

.container {
    width: 100%;
    padding: 32px;
    border-radius: 16px;

    background-color: rgba(255, 255, 255);
}
